## 파이써닉

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 변수, 정수, 간단한 계산

In [2]:
a = 7
print(a)

7

In [3]:
b = a
print(b)

7

In [4]:
type(a)

int

In [5]:
type(b)

int

In [6]:
type(58)

int

In [7]:
type(99.9)

float

In [8]:
type('abc')

str

In [9]:
5

5

In [10]:
0

0

In [11]:
05

SyntaxError: invalid token (<ipython-input-11-65e6e002a62d>, line 1)

In [12]:
123

123

In [13]:
+123

123

In [14]:
-123

-123

In [15]:
5+9

14

In [16]:
100-7

93

In [17]:
4-10

-6

In [18]:
print(5+9+3)
print(4+3-2-1+6)

17
10

In [19]:
5+9         +         3

17

In [20]:
6*7

42

In [21]:
6*7*2*3

252

In [22]:
9/5

1.8

In [24]:
9//5

1

In [25]:
5/0

ZeroDivisionError: division by zero

In [37]:
a=95
a-3

92

In [38]:
a

95

In [39]:
a=a-3
a

92

In [40]:
a=95
a-=3
a

92

In [41]:
a+=8
a

100

In [42]:
a*=2
a

200

In [43]:
a/=3
a

66.66666666666667

In [44]:
a=13
a//=4
a

3

In [45]:
9%5

4

In [47]:
9//5

1

In [48]:
# 소수점을 제외한 몫과 나머지를 모두 출력하는 방법
# 결과물은 튜플이라고 하는 두 항목의 결과로 반환된다
divmod(9,5)

(1, 4)

## 우선순위

In [49]:
2+3*4

14

In [50]:
2+(3*4)

14

In [51]:
(2+3)*4

20

## 진수

In [52]:
# 정수 앞에 따로 진수를 붙이지 않으면 10진수로 간주한다
# 파이썬에서 10진수 외에 표현 가능한 3가지 리터럴 정수
# 2진수
# 8진수
# 16진수

In [53]:
# 10진수
10

10

In [54]:
# 2진수
0b10

2

In [55]:
# 8진수
0o10

8

In [56]:
# 16진수
0x10

16

## 형변환

In [57]:
# true / false 인 boolean 형의 int형 형변환
int(True)

1

In [58]:
int(False)

0

In [59]:
int(98.6)

98

In [60]:
int('99')

99

In [61]:
# string 형태여도 숫자로 되어있다면 int로 형변환이 가능하지만 숫자가 아닌 다른 형태를 변환하면 예외가 발생한다
int('99 bottles of beer on the wall')

ValueError: invalid literal for int() with base 10: '99 bottles of beer on the wall'

In [62]:
int('')

ValueError: invalid literal for int() with base 10: ''

In [63]:
# int는 부동소수점수, 혹은 숫자로 이루어진 문자열을 정수로 반환한다. 따라서 소수점, 혹은 지수를 포함한 문자열은 처리하지 않는다

In [64]:
int(98.6)

98

In [65]:
int('98.6')

ValueError: invalid literal for int() with base 10: '98.6'

In [66]:
# type이 섞이면 자동으로 형변환한다.
4 + 7.0

11.0

In [67]:
True + 2

3

In [68]:
False + 5.0

5.0

## 문자열

In [69]:
# 인용부호 : '' , ""

In [70]:
'snap'

'snap'

In [71]:
"crackle"

'crackle'

In [72]:
"'Nat,' said the naysayer."

"'Nat,' said the naysayer."

In [74]:
'The rare double quote in captivity: ".'

'The rare double quote in captivity: ".'

In [77]:
poem = '''There was a Toung Lady of Norway,
Who casually sat in a doorway;
when the door squeezed her flat,
She exclaimed, "What of that?"
This courageous Young Lady of Norway.'''

In [80]:
print(poem)

There was a Toung Lady of Norway,
Who casually sat in a doorway;
when the door squeezed her flat,
She exclaimed, "What of that?"
This courageous Young Lady of Norway.

In [81]:
poem

'There was a Toung Lady of Norway,\nWho casually sat in a doorway;\nwhen the door squeezed her flat,\nShe exclaimed, "What of that?"\nThis courageous Young Lady of Norway.'

In [76]:
poem = 'There was a Toung Lady of Norway,
Who casually sat in a doorway;
when the door squeezed her flat,
She exclaimed, "What of that?"
This courageous Young Lady of Norway.'

SyntaxError: EOL while scanning string literal (<ipython-input-76-a633116cde66>, line 1)

In [79]:
poem = "There was a Toung Lady of Norway,
Who casually sat in a doorway;
when the door squeezed her flat,
She exclaimed, "What of that?"
This courageous Young Lady of Norway."

SyntaxError: EOL while scanning string literal (<ipython-input-79-ca7630acbc3e>, line 1)

In [82]:
bottles = 99
base = ''
base += 'current inventory: '
base += str(bottles)
base

'current inventory: 99'

In [84]:
bottles = 99
base = 'current inventory: '
base += str(bottles)
base

'current inventory: 99'

In [86]:
# 이스케이프 문자
# 줄바꿈 : \n
# 탭 : \t
# 인용부호 표현 : \' , \"
# 백슬래시 표현 : \\

In [88]:
'Release the kraken! ' + 'At once!'

'Release the kraken! At once!'

In [89]:
"My word! ""A gentleman caller!"

'My word! A gentleman caller!'

In [95]:
a = 'Duck.'
b = a
c = 'Gray Duck!'
a + b + c

'Duck.Duck.Gray Duck!'

In [96]:
print(a , b , c)

Duck. Duck. Gray Duck!

In [92]:
# 문자열 복제하기
start = 'Na ' * 4 + '\n'
middle = 'Hey ' * 3 + '\n'
end = 'GoodBye.'
print(start + start + middle + end)

Na Na Na Na
Na Na Na Na
Hey Hey Hey
GoodBye.

In [97]:
letters = '가나다라마바사아자차카타파하'

In [98]:
letters[0]

'가'

In [99]:
letters[2]

'다'

In [100]:
letters[-1]

'하'

In [101]:
letters[-4]

'카'

In [102]:
letters[30]

IndexError: string index out of range

In [103]:
name = 'Henny'
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [105]:
name = 'Henny'
name.replace('H', 'P')

'Penny'

In [108]:
'P' + name[1:]

'Penny'

In [110]:
# 슬라이스 : [start:end:step]
# 문자열 길이 : len()
# 문자열 나누기 : split()
# 문자열 결합하기 : join()

In [127]:
poem = "All that doth flow we cannot the liquid name and the adress."

In [128]:
poem[:13]

'All that doth'

In [129]:
len(poem)

60

In [130]:
# 시작을 All로 하는가
poem.startswith('All')

True

In [131]:
# 끝이 folks! 로 끝나는가
poem.endswith('folks!')

False

In [132]:
word = 'the'
poem.find(word)

29

In [133]:
poem.rfind(word)

49

In [134]:
poem.count(word)

2

In [135]:
# 글자와 숫자로만 이뤄져 있는가
poem.isalnum()

False

## 대소문자와 배치

In [137]:
setup = 'a duck goes into a bar...'

In [139]:
# 양끝에서 . 시퀀스 삭제
setup.strip('.')

'a duck goes into a bar'

In [140]:
# 첫 번째 단어 대문자로 변환
setup.capitalize()

'A duck goes into a bar...'

In [141]:
# 모든 단어의 첫 글자를 대문자로 변경
setup.title()

'A Duck Goes Into A Bar...'

In [142]:
# 글자 모두 대문자로 변경
setup.upper()

'A DUCK GOES INTO A BAR...'

In [144]:
# 모두 소문자로 변경
setup.lower()

'a duck goes into a bar...'

In [145]:
# 대문자는 소문자로 소문자는 대문자로 변경
setup.swapcase()

'A DUCK GOES INTO A BAR...'

In [146]:
# 문자열을 지정 공간에서 중앙에 배치
setup.center(30)

'  a duck goes into a bar...   '

In [147]:
# 왼쪽에 배치
setup.ljust(30)

'a duck goes into a bar...     '

In [148]:
# 오른쪽에 배치
setup.rjust(30)

'     a duck goes into a bar...'

## 대체하기 : replace()

In [149]:
setup.replace('duck', 'marmoset')

'a marmoset goes into a bar...'

In [151]:
# 지정단어를 100회까지 변경
setup.replace('a', 'a famous', 100)

# 대체하고자 하는 단어가 문자열 전체 단어인지, 한 단어의 일부인지 등의 조건에 따라 설정하려면 정규표현식을 사용한다.

'a famous duck goes into a famous ba famousr...'

## 연습문제

In [152]:
# 1시간은 몇 초인가
60 * 60

3600

In [153]:
seconds_per_hour = 60 * 60

In [154]:
seconds_per_day = 24 * seconds_per_hour
seconds_per_day

86400

In [155]:
seconds_per_day/seconds_per_hour

24.0

In [156]:
seconds_per_day//seconds_per_hour

24