## 3.2 이어서

## 존재여부 확인하기 : in

In [1]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
'Groucho' in marxes

True

In [2]:
'Bob' in marxes

False

In [5]:
# note - 항목 순서에 상관없이 리스트의 존재 여부만 확인하고자 할 때는 
# set은 유일한 값을 저장하고 조회하는 데 있어 리스트보다 좋은 방법이다.

## 값 세기 : count

In [6]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.count('Harpo')

1

In [7]:
marxes.count('Bob')

0

In [8]:
snl_skit = ['cheeseburger','cheeseburger','cheeseburger']
snl_skit.count('cheeseburger')

3

## 문자열로 변환하기 : join

In [9]:
marxes

['Groucho', 'Chico', 'Harpo']

In [10]:
','.join(marxes)

'Groucho,Chico,Harpo'

In [11]:
friends = ['Harry','Hermione','Ron']
separator = '*'
joined = separator.join(friends)
joined

'Harry*Hermione*Ron'

In [12]:
separated = joined.split(separator)
separated

['Harry', 'Hermione', 'Ron']

In [13]:
separated == friends

True

## 정렬하기 : sort

In [14]:
# sort()는 리스트 자체를 내부적으로 정렬한다.
# sorted()는 리스트의 정렬된 복사본을 반환한다.

In [17]:
marxes = ['Groucho', 'Chico', 'Harpo']
sorted_marxes = sorted(marxes)
sorted_marxes
# 리스트의 항목이 숫자인 경우 기본은 오름차순 문자열의 경우 알파벳 순

['Chico', 'Groucho', 'Harpo']

In [19]:
marxes
# sorted_marxes 는 복사본이기 때문에 원본 리스트는 변하지 않음

['Groucho', 'Chico', 'Harpo']

In [20]:
# sort는 원본 리스트 marxes를 바꾼다
marxes.sort()
marxes

['Chico', 'Groucho', 'Harpo']

In [21]:
numbers = [2,1,4.0,3]
numbers.sort()
numbers

[1, 2, 3, 4.0]

In [22]:
numbers = [2,1,4.0,3]
numbers.sort(reverse=True)
numbers

[4.0, 3, 2, 1]

## 항목 개수 얻기 : len

In [23]:
len(marxes)

3

## 할당 : = , 복사 : copy

In [24]:
a = [1,2,3]
a

[1, 2, 3]

In [25]:
b = a
b

[1, 2, 3]

In [26]:
a[0] = 'surprise'
a

['surprise', 2, 3]

In [27]:
b

['surprise', 2, 3]

In [28]:
b[0] = 'I hate surprises'
b

['I hate surprises', 2, 3]

In [29]:
a

['I hate surprises', 2, 3]

In [31]:
a = [1,2,3]
b = a.copy()
c = list(a)
d = a[:]

# b,c,d 는 a 의 복사본으로 자신만의 값을 가진 객체가 된다

In [32]:
a[0] = 'integer lists are boring'
a

['integer lists are boring', 2, 3]

In [33]:
print(b)
print(c)
print(d)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

## 튜플

In [34]:
# 튜플은 리스트와 마찬가지로 임의적인 항목의 시퀀스다 다른 점은 튜플은 불변한다 즉 정의한 후 추가 삭제 수정이 불가능하다

In [35]:
empty_tuple = ()
empty_tuple

()

In [37]:
one_marx = 'Groucho',
one_marx

('Groucho',)

In [38]:
marx_tuple = 'Groucho','Chico','Harpo'
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [39]:
marx_tuple = ('Groucho','Chico','Harpo')
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [40]:
a,b,c = marx_tuple
a

'Groucho'

In [41]:
b

'Chico'

In [42]:
c

'Harpo'

In [43]:
password = 'swordfish'
icecream = 'tuttifrutti'
password, icecream = icecream, password
password

'tuttifrutti'

In [44]:
icecream

'swordfish'

In [45]:
marx_list = ['Groucho','Chico','Harpo']
tuple(marx_list)

('Groucho', 'Chico', 'Harpo')