## 파이 채우기 : 리스트 , 튜플, 딕셔너리, 셋

## 리스트

In [1]:
empty_list = []
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']
big_birds = ['emu','ostrich','cassowary']
first_names = ['Graham','John','Terry','Terry','Michael']

In [2]:
another_empty_list = list()
another_empty_list

[]

In [3]:
list('cat')

['c', 'a', 't']

In [4]:
a_tuple = ('ready','fire','aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [5]:
birthday = '1/6/2020'
birthday.split('/')

['1', '6', '2020']

In [6]:
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [7]:
splitme.split('//')

['a/b', 'c/d', '/e']

In [8]:
marxes = ['Groucho','Chico','Harpo']
marxes[0]

'Groucho'

In [9]:
marxes[-1]

'Harpo'

In [11]:
small_birds = ['hummingbbird','finch']
extinct_birds = ['dodo','passenger pigeon','norwegian blue']
carol_birds = [3,'french hens',2,'tutledoves']
all_birds = [small_birds,extinct_birds,'macaw',carol_birds]

In [12]:
all_birds

[['hummingbbird', 'finch'],
 ['dodo', 'passenger pigeon', 'norwegian blue'],
 'macaw',
 [3, 'french hens', 2, 'tutledoves']]

In [13]:
all_birds[0]

['hummingbbird', 'finch']

In [14]:
all_birds[1]

['dodo', 'passenger pigeon', 'norwegian blue']

In [15]:
all_birds[1][0]

'dodo'

In [17]:
marxes[2] = 'Wanda'

In [18]:
marxes

['Groucho', 'Chico', 'Wanda']

In [20]:
marxes = ['Groucho','Chico','Harpo']
marxes[0:2]

['Groucho', 'Chico']

In [21]:
marxes[::2]

['Groucho', 'Harpo']

In [22]:
marxes[::-2]

['Harpo', 'Groucho']

In [23]:
marxes[::-1]

['Harpo', 'Chico', 'Groucho']

## 리스트 끝에 항목 추가 : append

In [24]:
marxes.append('Zeppo')
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [28]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo','Karl']
marxes.append(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', ['Gummo', 'Karl']]

##  리스트 병합하기 : extend 또는  +=

In [26]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo','Karl']
marxes.extend(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [27]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo','Karl']
marxes += others
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

## 오프셋과  insert로 항목 추가

In [34]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.insert(3,'Gummo')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [35]:
# 리스트의 끝을 넘는 오프셋을 입력해도 append 처럼 맨 끝에 입력해준다
marxes.insert(10,'Karl')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo', 'Karl']

## 오프셋으로 항목 삭제 :  del

In [36]:
del marxes[-1]
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [37]:
# del 로 지워진 리스트는 오프셋 역시 한 칸씩 당겨진다 즉, 리스트의 길이가 1 감소한다
marxes[2]

'Harpo'

In [38]:
del marxes[2]
marxes

['Groucho', 'Chico', 'Gummo', 'Zeppo']

In [39]:
marxes[2]

'Gummo'

## 값으로 항목 삭제하기 : remove

In [40]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes.remove('Gummo')
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

## 오프셋으로 항목을 얻은 후 삭제 : pop

In [41]:
# 리스트에서 항목을 가져오는 동시에 그 항목을 삭제, 인자가 없다면 -1 을 사용한다
marxes.pop()

'Zeppo'

In [42]:
marxes

['Groucho', 'Chico', 'Harpo']

In [43]:
marxes.pop(1)

'Chico'

In [44]:
marxes

['Groucho', 'Harpo']

## 값으로 항목 오프셋 찾기 : index

In [45]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.index('Chico')

1

## 존재여부 확인하기 : in

In [1]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
'Groucho' in marxes

True

In [2]:
'Bob' in marxes

False

In [5]:
# note - 항목 순서에 상관없이 리스트의 존재 여부만 확인하고자 할 때는 
# set은 유일한 값을 저장하고 조회하는 데 있어 리스트보다 좋은 방법이다.

## 값 세기 : count

In [6]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.count('Harpo')

1

In [7]:
marxes.count('Bob')

0

In [8]:
snl_skit = ['cheeseburger','cheeseburger','cheeseburger']
snl_skit.count('cheeseburger')

3

## 문자열로 변환하기 : join

In [9]:
marxes

['Groucho', 'Chico', 'Harpo']

In [10]:
','.join(marxes)

'Groucho,Chico,Harpo'

In [11]:
friends = ['Harry','Hermione','Ron']
separator = '*'
joined = separator.join(friends)
joined

'Harry*Hermione*Ron'

In [12]:
separated = joined.split(separator)
separated

['Harry', 'Hermione', 'Ron']

In [13]:
separated == friends

True

## 정렬하기 : sort

In [14]:
# sort()는 리스트 자체를 내부적으로 정렬한다.
# sorted()는 리스트의 정렬된 복사본을 반환한다.

In [17]:
marxes = ['Groucho', 'Chico', 'Harpo']
sorted_marxes = sorted(marxes)
sorted_marxes
# 리스트의 항목이 숫자인 경우 기본은 오름차순 문자열의 경우 알파벳 순

['Chico', 'Groucho', 'Harpo']

In [19]:
marxes
# sorted_marxes 는 복사본이기 때문에 원본 리스트는 변하지 않음

['Groucho', 'Chico', 'Harpo']

In [20]:
# sort는 원본 리스트 marxes를 바꾼다
marxes.sort()
marxes

['Chico', 'Groucho', 'Harpo']

In [21]:
numbers = [2,1,4.0,3]
numbers.sort()
numbers

[1, 2, 3, 4.0]

In [22]:
numbers = [2,1,4.0,3]
numbers.sort(reverse=True)
numbers

[4.0, 3, 2, 1]

## 항목 개수 얻기 : len

In [23]:
len(marxes)

3

## 할당 : = , 복사 : copy

In [24]:
a = [1,2,3]
a

[1, 2, 3]

In [25]:
b = a
b

[1, 2, 3]

In [26]:
a[0] = 'surprise'
a

['surprise', 2, 3]

In [27]:
b

['surprise', 2, 3]

In [28]:
b[0] = 'I hate surprises'
b

['I hate surprises', 2, 3]

In [29]:
a

['I hate surprises', 2, 3]

In [31]:
a = [1,2,3]
b = a.copy()
c = list(a)
d = a[:]

# b,c,d 는 a 의 복사본으로 자신만의 값을 가진 객체가 된다

In [32]:
a[0] = 'integer lists are boring'
a

['integer lists are boring', 2, 3]

In [33]:
print(b)
print(c)
print(d)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

## 튜플

In [34]:
# 튜플은 리스트와 마찬가지로 임의적인 항목의 시퀀스다 다른 점은 튜플은 불변한다 즉 정의한 후 추가 삭제 수정이 불가능하다

In [35]:
empty_tuple = ()
empty_tuple

()

In [37]:
one_marx = 'Groucho',
one_marx

('Groucho',)

In [38]:
marx_tuple = 'Groucho','Chico','Harpo'
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [39]:
marx_tuple = ('Groucho','Chico','Harpo')
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [40]:
a,b,c = marx_tuple
a

'Groucho'

In [41]:
b

'Chico'

In [42]:
c

'Harpo'

In [43]:
password = 'swordfish'
icecream = 'tuttifrutti'
password, icecream = icecream, password
password

'tuttifrutti'

In [44]:
icecream

'swordfish'

In [45]:
marx_list = ['Groucho','Chico','Harpo']
tuple(marx_list)

('Groucho', 'Chico', 'Harpo')

## 딕셔너리

In [1]:
empty_dict = {}
empty_dict

{}

In [4]:
bierce = {
    "day" : "A period of twnety-four hours, mostly misspent",
    "positive" : "Mistaken at the top of one's voice",
    "misforune" : "The kind of fortune that never misses",
}

In [5]:
bierce

{'day': 'A period of twnety-four hours, mostly misspent',
 'positive': "Mistaken at the top of one's voice",
 'misforune': 'The kind of fortune that never misses'}

In [7]:
lol = [ ['a','b'], ['c','d'], ['e','f'] ]
dict(lol)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [8]:
los = [ 'ab', 'cd', 'ef' ]
dict(los)

{'a': 'b', 'c': 'd', 'e': 'f'}

## 항목 추가/변경하기 : [key]

In [9]:
pythons = {
    'Chapman' : 'Graham',
    'Cleese' : 'John',
    'Idle' : 'Eric',
    'Jones' : 'Terry',
    'Palin' : 'Michael'
}
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [10]:
pythons['Gilliam'] = 'Gerry'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Gilliam': 'Gerry'}

In [11]:
pythons['Gilliam'] = 'Terry'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Gilliam': 'Terry'}

In [12]:
# 키 값과 밸류 값이 만약 반대여서 Terry 가 두개의 키 값이 된다면 마지막 키 값이 살아남는다.

## 딕셔너리 결합하기 : update

In [14]:
pythons = {
    'Chapman' : 'Graham',
    'Cleese' : 'John',
    'Idle' : 'Eric',
    'Jones' : 'Terry',
    'Palin' : 'Michael',
    'Gilliam': 'Terry'
}
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Gilliam': 'Terry'}

In [15]:
others = { 'Marx' : 'Groucho', 'Howard' : 'Moe' }

In [16]:
pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Gilliam': 'Terry',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [17]:
# 두 번째 딕셔너리를 첫 번째 딕셔너리에 병합할 때 두 딕셔너리에 같은 키 값이 존재한다면 두 번째 딕셔너리 키 값이 승리한다
first = {'a':1, 'b':2}
second = {'b':'platypus'}
first.update(second)
first

{'a': 1, 'b': 'platypus'}

## 키와 del로 항목 삭제하기

In [18]:
del pythons['Marx']
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Gilliam': 'Terry',
 'Howard': 'Moe'}

In [19]:
del pythons['Howard']
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Gilliam': 'Terry'}

## 모든 항목 삭제하기 : clear

In [20]:
pythons.clear()
pythons

{}

## in으로 키 멤버십 테스트하기

In [21]:
pythons = {
    'Chapman' : 'Graham',
    'Cleese' : 'John',
    'Jones' : 'Terry',
    'Palin' : 'Michael'
}
pythons

{'Chapman': 'Graham', 'Cleese': 'John', 'Jones': 'Terry', 'Palin': 'Michael'}

In [22]:
'Chapman' in pythons

True

In [23]:
'Palin' in pythons

True

In [24]:
'Gilliam' in pythons

False

## 항목 얻기 :  [key]

In [25]:
pythons['Cleese']

'John'

In [26]:
pythons['Marx']

KeyError: 'Marx'

In [27]:
# 예외처리 문제를 피하는 방법
# 1. in 으로 키에 대한 멤버십 테스트
# 2. get() 함수 사용

In [28]:
pythons.get('Cleese')

'John'

In [29]:
pythons.get('Marx')

In [30]:
pythons.get('Marx','Not a pythons')

'Not a pythons'

## 모든 키 얻기 : keys()

In [31]:
signals = {'green':'go' , 'yellow':'go faster' , 'red':'smile for the camera'}
signals.keys()

dict_keys(['green', 'yellow', 'red'])

In [32]:
list(signals.keys())

['green', 'yellow', 'red']

## 모든 값 얻기 : values()

In [33]:
list(signals.values())

['go', 'go faster', 'smile for the camera']

## 모든 쌍의 키-값 얻기 : items()

In [34]:
list(signals.items())

[('green', 'go'), ('yellow', 'go faster'), ('red', 'smile for the camera')]

## 할당 : =  ,  복사 : copy()

In [35]:
signals

{'green': 'go', 'yellow': 'go faster', 'red': 'smile for the camera'}

In [36]:
save_signals = signals
signals['blue'] = 'confuse everyone'
save_signals

{'green': 'go',
 'yellow': 'go faster',
 'red': 'smile for the camera',
 'blue': 'confuse everyone'}

In [38]:
signals = {'green': 'go', 'yellow': 'go faster', 'red': 'smile for the camera'}
original_signals = signals.copy()
signals['blue'] = 'confuse everyone'

In [40]:
signals

{'green': 'go',
 'yellow': 'go faster',
 'red': 'smile for the camera',
 'blue': 'confuse everyone'}

In [41]:
original_signals

{'green': 'go', 'yellow': 'go faster', 'red': 'smile for the camera'}

## 셋(Set)

In [1]:
# 셋은 값은 버리고 키만 남은 딕셔너리와 같다. 딕셔너리와 마찬가지로 각 키는 유일해야 한다
empty_set = set()
empty_set

set()

In [2]:
even_numbers = {0,2,4,6,8}
even_numbers

{0, 2, 4, 6, 8}

In [3]:
odd_numbers = {1,3,5,7,9}
odd_numbers

{1, 3, 5, 7, 9}

## 데이터 타입 변환하기 : set()

In [4]:
set( 'letters' )

{'e', 'l', 'r', 's', 't'}

In [5]:
set(['Dacher','Dancer','Prancer','Mason-Dixon'])

{'Dacher', 'Dancer', 'Mason-Dixon', 'Prancer'}

In [6]:
set(('Ummagumma','Echoes','Atom Heart Mother'))

{'Atom Heart Mother', 'Echoes', 'Ummagumma'}

In [7]:
set({'apple':'red', 'orange':'orange', 'cherry':'red'})

{'apple', 'cherry', 'orange'}

## in으로 값 멤버십 테스트

In [10]:
drinks = {
    'martini' : {'vodka','vermouth'},
    'black russian' : {'vodka','kahlua'} ,
    'white russian' : {'cream','kahlua','vodka'},
    'manhattan' : {'rye','vermouth','bitters'},
    'screwdriver' : {'orange juice','vodka'}
}

In [11]:
for name, contents in drinks.items():
    if 'vodka' in contents:
        print(name)

martini
black russian
white russian
screwdriver

In [12]:
for name, contents in drinks.items():
    if 'vodka' in contents and not('vermouth' in contents or 'cream' in contents):
        print(name)

black russian
screwdriver

## 콤비네이션과 연산자

In [13]:
for name, contents in drinks.items():
    if contents & {'vermouth','orange juice'}:
        print(name)

martini
manhattan
screwdriver

In [14]:
for name, contents in drinks.items():
    if 'vodka' in contents and not contents & {'cream','vermouth'}:
        print(name)

black russian
screwdriver

In [15]:
bruss = drinks['black russian']
wruss = drinks['white russian']

In [17]:
a = {1,2}
b = {2,3}

In [18]:
a & b

{2}

In [19]:
a.intersection(b)

{2}

In [20]:
bruss & wruss

{'kahlua', 'vodka'}

In [21]:
a|b

{1, 2, 3}

In [22]:
a.union(b)

{1, 2, 3}

In [23]:
bruss | wruss

{'cream', 'kahlua', 'vodka'}

In [24]:
a - b

{1}

In [25]:
a.difference(b)

{1}

In [26]:
bruss - wruss

set()

In [27]:
wruss - bruss

{'cream'}

In [28]:
a^b

{1, 3}

In [29]:
a.symmetric_difference(b)

{1, 3}

In [30]:
bruss^wruss

{'cream'}

In [31]:
bruss.symmetric_difference(wruss)

{'cream'}

In [32]:
a <= b

False

In [33]:
a.issubset(b)

False

In [35]:
a <= a

True

In [34]:
bruss <= wruss

True

In [36]:
a < b

False

In [38]:
a < a

False

In [37]:
bruss < wruss

True

In [39]:
a >= b

False

In [42]:
a >= a

True

In [40]:
bruss >= wruss

False

In [41]:
wruss >= bruss

True

## 자료구조 비교하기

In [43]:
marx_list = ['Groucho','Chico','Harpo']
marx_tuple = ('Groucho','Chico','Harpo')
marx_dict = {'Groucho':'banjo', 'Chico':'piano', 'Harpo':'harp'}

In [44]:
marx_list[2]

'Harpo'

In [45]:
marx_tuple[2]

'Harpo'

In [46]:
marx_dict['Harpo']

'harp'

## 자료구조를 더 크게

In [47]:
marxes = ['Groucho','Chico','Harpo']
pythons = ['Chapman','Cleese','Gilliam','Jones','Palin']
stooges = ['Moe','Curly','Larry']

In [48]:
tuple_of_lists = marxes, pythons, stooges
tuple_of_lists

(['Groucho', 'Chico', 'Harpo'],
 ['Chapman', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 ['Moe', 'Curly', 'Larry'])

In [49]:
list_of_lists = [marxes, pythons, stooges]
list_of_lists

[['Groucho', 'Chico', 'Harpo'],
 ['Chapman', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 ['Moe', 'Curly', 'Larry']]

In [50]:
dict_of_lists = {'Marxes':marxes, 'Pythons':pythons, 'Stooges':stooges}
dict_of_lists

{'Marxes': ['Groucho', 'Chico', 'Harpo'],
 'Pythons': ['Chapman', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 'Stooges': ['Moe', 'Curly', 'Larry']}

In [51]:
houses = {
    (44.79, -93.14, 285) : 'My House',
    (38.89, -77.03, 13) : 'The White House'
}

## 3장 연습문제

In [61]:
year_lists = [1980, 1981, 1982, 1983, 1984, 1985]
year_lists

[1980, 1981, 1982, 1983, 1984, 1985]

In [62]:
year_lists[3]

1983

In [63]:
year_lists[-1]

1985

In [72]:
things = ['mozzzarella','cinderella','salmonella']
things

['mozzzarella', 'cinderella', 'salmonella']

In [73]:
things[1].capitalize()
things

['mozzzarella', 'cinderella', 'salmonella']

In [74]:
things[1] = things[1].capitalize()
things

['mozzzarella', 'Cinderella', 'salmonella']

In [75]:
things[0] = things[0].upper()
things

['MOZZZARELLA', 'Cinderella', 'salmonella']

In [76]:
# things.remove('salmonella')

# del things[-1]

del things[2]

In [77]:
things

['MOZZZARELLA', 'Cinderella']

In [78]:
surprise = ['Groucho', 'Chico', 'Harpo']
surprise

['Groucho', 'Chico', 'Harpo']

In [79]:
surprise[-1] = surprise[-1].lower()
surprise[-1] = surprise[-1][::-1]
surprise[-1] = surprise[-1].capitalize()
surprise

['Groucho', 'Chico', 'Oprah']

In [80]:
e2f = {'dog':'chien', 'cat':'chat', 'walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [83]:
e2f['walrus']

'morse'

In [84]:
f2e = {}
for eng, fre in e2f.items():
    f2e[fre] = eng
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [85]:
f2e['chien']

'dog'

In [86]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

In [87]:
life = {
    'animals':{
        'cats':'Henri',
        'octopi':'Grumpy',
        'emus':'Lucy'
    },
    'plants':{},
    'other':{}
}
life

{'animals': {'cats': 'Henri', 'octopi': 'Grumpy', 'emus': 'Lucy'},
 'plants': {},
 'other': {}}

In [88]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [89]:
list(life.keys())

['animals', 'plants', 'other']

In [90]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [91]:
life['animals']['cats']

'Henri'